ul a {
    margin-left: 20px;
}

.myPhoto {
    width: 220px;
    height: 220px;
}

.mt-10{ margin-top: 10px; }
.mt-30{ margin-top: 30px; }
.mt-50{ margin-top: 50px; }
.mt-80{ margin-top: 80px; }
.negative-mt-20{ margin-top: -20px; }
.fs-45{ font-size: 45px; }
.width-100{ width: 100%; }
.width-300{ width: 300px;}
.opacity-05{ opacity: 0.6; }

.big-title {
    font-size: 55px;
}

.strip {
    width: 100%;
    padding: 7px 7px;
}

.border-primary {
    border: 1px solid;
    padding: 5px 5px 5px 5px;
}

.certificates {
    width: 650px;
    height: 450px;
}

.completed {
    background-color: rgb(138, 176, 145);
    border-color: rgb(138, 176, 145);
}

.usersSmallPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.accountPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.postPhoto-small {
    width: 70px;
    height: 70px;
}

.postPhoto-large {
    width: 350px;
    height: 350px;
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}

.post-text {
    font-size: 20px;
}