{% extends 'base.html' %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container mt-50">
        <h1 class="text-center">{{ post.title }}</h1>
        <br>
        <h4>Written by: {{ post.author.username }}</h4>
        Published: <small>{{ post.createdAt.strftime('%d/%m/%Y') }}</small>
        <br><br>
        
        {% if post.author == current_user %}
            <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-success">Edit</a>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
        {% endif %}

        <br><br><br>

        <img src="{{ url_for('post.static', filename='images/' + post.image) }}" alt="Photo" class="postPhoto-large">
        {{ post.text }}
        <br><br><br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Post Deleting</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Do u wanna delete post ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-warning">Delete</a>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}