{% from 'fieldMacro.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}
    <div class="container text-center mt-10">
        <small class="text-body-tertiary">
            last seen {{ current_user.lastSeen.strftime("%d-%m-%Y %H:%M:%S") }}
        </small>
        <br><br><br>
        <img src="{{ url_for('static', filename='images/' + current_user.image) }}" alt="Photo" class="accountPhoto">
        <br><br>
        <h1>{{ current_user.username }}</h1>
        <h4>{{ current_user.email }}</h4>
        <br>
        <p>{{ current_user.aboutMe }}</p>
    </div>
    <br><hr>
    <div class="container">
        <br>
        <h2>Account info</h2>
        <div class="width-300">
            <form method="POST" novalidate enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ displayField(form.username, "Username") }}
                {{ displayField(form.email, "Email") }}
                {{ displayField(form.aboutMe, "") }}
                {{ displayField(form.image, "") }}
                <br><br>
                {{ form.submit(class="btn btn-primary width-100 negative-mt-20") }}
            </form>
            <br><br><br>
            <a href="{{ url_for('auth.resetPassword') }}">
                <button class="btn btn-primary width-100">Reset password</button>
            </a>
        </div>
    </div>
    <br><br>
{% endblock %}