{% set menu = {
    "Skills": url_for('skills'),
    "Certificates": url_for('certificates'),
    "Login": url_for('login'),
    "Todo": url_for('todo'),
    "Reviews": url_for('reviews')
} %}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarColor01">
        <ul class="navbar-nav">
          {% for name, url in menu.items() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url }}">{{ name }}</a>
            </li>    
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>