{% set menu = {
    "Skills": url_for('portfolio.skills'),
    "Certificates": url_for('portfolio.certificates'),
    "Account": url_for('auth.account'),
    "Login": url_for('auth.login'),
    "Registration": url_for('auth.registration'),
    "Todo": url_for('todo.todos'),
    "Feedbacks": url_for('feedback.feedbacks'),
    "Users": url_for('auth.users'),
    "Logout": url_for('auth.logout')
} %}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="{{ url_for('portfolio.home') }}">Home</a>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarColor01">
        <ul class="navbar-nav">
          {% for name, url in menu.items() %}
            {% if current_user.is_authenticated %}
              {% if name != "Login" and name != "Registration" %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url }}">{{ name }}</a>
                </li>
              {% endif %}
            {% else %}
              {% if name != "Logout" and name != "Account" %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url }}">{{ name }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>